.input-holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#search{
    width: 300px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

#submit-btn{
    margin-left: 20px;
    border: 1px black solid;
    background-color: transparent;
    width: 100px;
    border-radius: 7px;
}

#destination{
    background-color: green;
    height: 100vh;
}

#destination-holder{
    /* border: 1px solid black;
    width: 300px;
    margin: 0 auto; */
}